.navbar-default .navbar-brand{
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	color: red;
}

.navbar-default{
	font-weight: 100px;
	color: white;
	background: white;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: rgba(255,255,0,1);
}